* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6c63ff; 
    --primary-hover: #5750d6;
     --background-light: #f9f9f9;
}

body {
     font-family: 'Poppins', sans-serif;
    background-color: #eaeef6; /* light grey background */
    color: #333; /* text color */
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c2c54;
    margin-bottom: 10px;
}

h1 span {
    font-size: 1rem;
    color: #6c63ff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply-box {
    max-width: 700px;
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    margin-top: 40px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    
}

.title-small {
    font-size: 0.6em;
}

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}


label {
    font-size: 0.95rem;
    margin-top: 0.3rem;
    font-weight: 400;
}

input, select, textarea {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #6c63ff; /* purple highlight */
    box-shadow: 0 0 5px rgba(108,99,255,0.4);
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: var(--primary-hover);
    
}

.textarea-address {
    grid-column: 1 / span 2;
}

.textarea-address textarea {
    width: 100%;
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
         .form-container {
        grid-template-columns: 1fr; /* Single column on mobile */
    }

    .textarea-address {
        grid-column: 1; /* full width */
    }

    button {
        width: 100%; /* button full width on mobile */
    }
    }
}